@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: 'Poppins', sans-serif;
}

.mainContainer {
  background: linear-gradient(270deg, #00a5e9 0%, #007bb3 98.96%);
}

.whyBgImage {
  position: relative;
  /* background-image: url("../../public/assets/WhyBg.svg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.whyBgImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 251, 251, 0.5);
  z-index: -1;
}

.slick-dots li.slick-active button:before {
  color: blue !important;
}

.slick-dots li {
  margin: 0px 0px !important;
}

.label {
  font-size: 16px;
}

.defaultStyles {
  background: #f2f2f2;
  width: 100%;
  height: 45px;
  font-size: 16px;
  padding-left: 1rem;
  border-radius: 0.5rem;
}

.defaultStyles:focus {
  outline: 1px solid #007bb3;
}

.defaultBtn {
  background-color: #007bb3;
  width: 100%;
  color: #ffff;
  height: 45px;
  font-size: 16px;
  border-radius: 0.5rem;
}

.ativeLink {
  border-bottom: 2px solid #007bb3;
  color: #007bb3;
  font-weight: 600;
}

.bg-custom-title-gradient {
  background: linear-gradient(
    270deg,
    rgba(0, 165, 233, 0.92) 0%,
    rgba(0, 123, 179, 0.92) 98.96%
  );
}

.defaultReadBtn {
  background-color: #007bb3;
  border:1px solid #007bb3;
  width: 100%;
  color: #fff;
  font-size: 16px;
  border-radius: .5rem;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  justify-content: center;
}

.defaultUnReadBtn {
  background-color: #ffff;
  border:1px solid #007bb3;
  width: 100%;
  color: #007bb3;
  font-size: 16px;
  border-radius: .5rem;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  justify-content: center;
}


.custom-shadow {
  box-shadow: 
    5px 0px 10px rgba(0, 0, 0, 0.1), /* right */
    -5px 0px 10px rgba(0, 0, 0, 0.1), /* left */
    0px 5px 10px rgba(0, 0, 0, 0.1), /* bottom */
    0px -5px 10px rgba(0, 0, 0, 0.1); /* top */
}